# Desafio da Semana 3 Data Science da Codenation

In [1]:
import pandas as pd
import numpy as np

In [12]:
clientes = pd.read_csv("desafio1.csv", index_col=0)

In [14]:
clientes.head(20)

,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
RowNumber,,,,,,,,,,,
1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
6,db5cf32c3fbc7c5d8f8313afca1d099de6dc055f,a596384ca70664af4c5fac9f935cff186b8e8bc0,645,RS,M,44,8,113755.78,2,1,0
7,8f3cc64a0a84bab38fefb030f09757d0cbf03bb2,abec3e525ab40e45975c91d4fa2bc7b318d93de4,822,SC,M,50,7,0.00,2,1,1
8,6704b822c203e2dda9f225dfc4f1bed2ae9044e6,336b42483e6a17f48eb040a251b5d6e64d1351a9,376,PR,F,29,4,115046.74,4,1,0
9,35f41954a87f722a3960e5fa8ce898a09398a564,53a417796c777851003b3f2431e8eef5625ec15b,501,SC,M,44,4,142051.07,2,0,1
10,f110be36fc6171a7da472b9cbac8698df880aac6,b89d09fc7719cb3c4a87e4a61cb87b3465e9d8ff,684,SC,M,27,2,134603.88,1,1,1
11,616ab70b0c6c9bbca2053d3841890a9831c5e547,b63d6ef4454a8239107e8e33d75d3180f9147507,528,SC,M,31,6,102016.72,2,0,0
12,727d2911ca645148ecb222005c5f4f8ccf72b4d6,a1009913e51c3c11ef2e88eda344ec5befa13fd4,497,RS,M,24,3,0.00,2,1,0
13,09470d0412441f628088863770edd8203a6d061a,dd917fc96b650bae522051ff7d9e004f2567b1cf,476,SC,F,34,10,0.00,2,1,0
14,572eae7cd6575a5b53f64a86086b145e7166c627,8c9da9261f9d8a66d9bda9c46ccbc08032cdfa81,549,SC,F,25,5,0.00,2,0,0
15,4f883154a84d3fda402e17686bfe212558f7f15e,2ad0c93dcf651c0afe5e5aa7a8778f7c3ec5769e,635,RS,F,35,7,0.00,2,1,1
16,04a488f5afe23bc8e0bc2dab36b7ef31a2175465,ae50d67a10a428f042478724f8696faad69c16e7,616,PR,M,45,3,143129.41,2,0,1
17,5970b1f277e0c09c2fbdf5c0b2961e286d1eee8a,b7e8d8eaaffa2e0990b222ca486b9c2426c2cd7e,653,PR,M,58,1,132602.88,1,1,0
18,b1c2ded79f093bc3c2457b4414ffcb938fa1a80e,717b2196c49d4a878dd7183b9288ae7252e14b8a,549,RS,F,24,9,0.00,2,1,1
19,f9d58de212c7e4a06ad9211ece951d6ea5fd39a3,b0cfa7d7ba8cd6345e4e7eae4e84650f53c47ce2,587,RS,M,45,6,0.00,1,0,0
20,5d4168b50ccd45013fe0825674c62e88bdc4bc7c,62ceeb2fea53054f1dfc5a63fcf122df23c41e86,726,SC,F,24,6,0.00,2,1,1

In [15]:
clientes.dtypes

id                           object
sobrenome                    object
pontuacao_credito             int64
estado_residencia            object
genero                       object
idade                         int64
nivel_estabilidade            int64
saldo_conta                 float64
numero_produtos               int64
possui_cartao_de_credito      int64
membro_ativo                  int64
dtype: object

In [23]:
clientes.describe().groupby(['estado_residencia'])

KeyError: 'estado_residencia'

#### Verificando valores nulos no Dataset

In [17]:
missing_data = clientes.isnull()
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

id
False    7000
Name: id, dtype: int64

sobrenome
False    7000
Name: sobrenome, dtype: int64

pontuacao_credito
False    7000
Name: pontuacao_credito, dtype: int64

estado_residencia
False    7000
Name: estado_residencia, dtype: int64

genero
False    7000
Name: genero, dtype: int64

idade
False    7000
Name: idade, dtype: int64

nivel_estabilidade
False    7000
Name: nivel_estabilidade, dtype: int64

saldo_conta
False    7000
Name: saldo_conta, dtype: int64

numero_produtos
False    7000
Name: numero_produtos, dtype: int64

possui_cartao_de_credito
False    7000
Name: possui_cartao_de_credito, dtype: int64

membro_ativo
False    7000
Name: membro_ativo, dtype: int64

### Desafio: Valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset

In [155]:
cliente_estado = clientes.groupby(['estado_residencia'])
cliente_estado.head(5)

,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
RowNumber,,,,,,,,,,,
1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1
6,db5cf32c3fbc7c5d8f8313afca1d099de6dc055f,a596384ca70664af4c5fac9f935cff186b8e8bc0,645,RS,M,44,8,113755.78,2,1,0
7,8f3cc64a0a84bab38fefb030f09757d0cbf03bb2,abec3e525ab40e45975c91d4fa2bc7b318d93de4,822,SC,M,50,7,0.00,2,1,1
8,6704b822c203e2dda9f225dfc4f1bed2ae9044e6,336b42483e6a17f48eb040a251b5d6e64d1351a9,376,PR,F,29,4,115046.74,4,1,0
9,35f41954a87f722a3960e5fa8ce898a09398a564,53a417796c777851003b3f2431e8eef5625ec15b,501,SC,M,44,4,142051.07,2,0,1
12,727d2911ca645148ecb222005c5f4f8ccf72b4d6,a1009913e51c3c11ef2e88eda344ec5befa13fd4,497,RS,M,24,3,0.00,2,1,0
15,4f883154a84d3fda402e17686bfe212558f7f15e,2ad0c93dcf651c0afe5e5aa7a8778f7c3ec5769e,635,RS,F,35,7,0.00,2,1,1
16,04a488f5afe23bc8e0bc2dab36b7ef31a2175465,ae50d67a10a428f042478724f8696faad69c16e7,616,PR,M,45,3,143129.41,2,0,1
17,5970b1f277e0c09c2fbdf5c0b2961e286d1eee8a,b7e8d8eaaffa2e0990b222ca486b9c2426c2cd7e,653,PR,M,58,1,132602.88,1,1,0
27,93f9d14870d4e1f4b406e822aeda2522034e36a7,190ad954707e053c18af1de13a140cb70a6ff58c,756,PR,M,36,2,136815.64,1,1,1
29,29696d097f5af397971553e03af3d72544a2de43,bb0562f482fc937e49bca1fbce8619797d02a123,574,PR,F,43,3,141349.43,1,1,1

In [154]:
df_estado = clientes[['pontuacao_credito', 'estado_residencia']]
cliente_estado['media'] = df_estado.groupby(['estado_residencia']).mean()
cliente_estado['mediana'] = df_estado.groupby(['estado_residencia']).median()
cliente_estado['desvio_padrao'] = df_estado.groupby(['estado_residencia']).std()
cliente_estado.head(5)

TypeError: 'DataFrameGroupBy' object does not support item assignment

#### Como o .mode() retorna um dataframe, devemos tratá-lo de forma separada

In [ ]:
cliente_estado['moda'] = df_estado.groupby(['estado_residencia']).agg(lambda x:x.value_counts().index[0])
cliente_statistics = cliente_estado.drop(['pontuacao_credito', 'mean'], axis=1)
cliente_statistics = cliente_statistics[['moda', 'mediana', 'media', 'desvio_padrao']]
cliente_statistics

#### Conversão dos tipos nas colunas moda e mediana para float

In [ ]:
cliente_statistics.moda = cliente_statistics.moda.astype(float)
cliente_statistics.mediana = cliente_statistics.mediana.astype(float)
cliente_statistics.dtypes()

### Convertendo para JSON

In [149]:
cliente_statistics.to_json(r'submission2.json', orient='index')